
@{
    ViewBag.Title = "Software";
}

<h2>@ViewBag.Title</h2>

<div class="well">
    Currently, the Scratch for .Net environment is only supported on Windows devices, but work is in progress on versions for Mac and Linux. Please check back later.
</div>

<p>
    There are only two pieces of software you need to install - the Scratch program from MIT, and the Scratch for .Net Gateway:
</p>

<h3>MIT Scratch</h3>
<p>
    Scratch for .Net Micro Framework uses a version of the Scratch editor that is installed on your desktop. (Future versions will also support the version of Scratch that runs in a web browser).
    The MIT Scratch programming environment can be installed by folowing these instructions : <a href="http://wiki.scratch.mit.edu/wiki/Scratch_2.0_Offline_Editor" target="_blank">Scratch 2.0 Offline Editor</a>
</p>

<h3>Scratch for .Net Gateway</h3>
<p>
    The Scratch for .Net Gateway will help prepare and configure your .Net devices and also helps the Scratch program and your .Net device communicate with each other.
    You can install the Gateway from here : <a href="~/DesktopApplication/publish.html" target="_blank">Install Gateway</a>
</p>
<p>
    After you install the Gateway, it will start running immediately and will attempt to detect your .Net Micro Framework device. If you exit the Gateway, you can restart it from 
    the install link above or from your Start menu. You can plug your .Net device into the USB port of your computer at any time. The Gateway program will detect whether the firmware 
    needs to be updated and will give you further instructions for your particular board. You can start and stop the MIT Scratch environment at any time, but the gateway needs to be running
    in order to create or run projects that rely on .Net Micro Framework boards.
</p>
<p>
    For detailed step-by-step instructions, see the @Html.ActionLink("Documentation", "Index", "Documentation") pages.
</p>

<h3>After Installation</h3>
<p>
    After installing Scratch and the Gateway, 
</p>

