@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Scratch4.net consists of this web site, a windows desktop application, and .Net Micro Framework firmware images that allow you to use
    .Net Micro Framework boards along with the <a href="http://scratch.mit.edu">MIT Scratch</a> programming environment.</p>

<p>Scratch for .Net Micro Framework is a standalone open-source software project created by Pervasive Digital LLC in support of education 
    in science, math and computer programming, and while it shares the goals of the MIT Scratch project, this project is entirely separate 
    and is not endorsed by or related to the MIT Scratch project in any way. Scratch for .Net is is offered at no cost - there are no license 
    fees or subscriptions.</p>

<h3>Open Source</h3>
<p>
    The Scratch for .Net software, including this web site, the desktop gateway software and the source for all firmware images, are open source software
    offered under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache 2.0 license</a>.  The source code can be found
    at <a href="https://github.com/martincalsyn/ScratchDotNet" target="_blank">https://github.com/martincalsyn/ScratchDotNet</a>.
</p>

<h3>Privacy</h3>
<p>
    This web site uses cookies to manage the operation of the web site, including measuring traffic and the response time offered by the servers. 
    We do not present advertising from this web site and do not have any
    agreements with advertisers. It is possible to use this web site, excluding the forums, without logging in or providing any other information.
    If you do register, we will not, under any circumstances, sell, rent or otherwise distribute or reveal personal information and we will exercise 
    due dilligence in securing the information that you might provide here. Nothing is sold on this site and no financial information or payment is ever requested.
</p>
<p>
    The desktop software (aka "Gateway") and .Net Micro Framework firmware programs do not collect any personally-identifiable information. 
    In the future, with your explicit permission to be requested at a future date, we may collect usage and performance data in the gateway program
    to help us identify crashes and improve the product.
</p>

<h3>Trademarks</h3>
<p>
    "Scratch for .Net", "Scratch for .Net Micro Framework" and the "scratch4.net" domain are internationally registered trademarks. Certain imagery from the MIT
    Scratch distribution are used under the terms of their license. Such use does not imply any support or endorsement by MIT or the Scratch project
    for the works in Scratch for .Net.
    Other entities may hold copyrights and/or trademarks on the hardware devices and other software referenced here. These names and images are used
    under fair user terms for the purpose of referring to these products. No endorsement of those products by Scratch4.Net is implied, and no endorsement
    of Scratch4.Net by those companies is implied.
</p>

<h3>Use with caution and under adult supervision</h3>
<p>
    Any use of electricity, even at the low voltages present in the devices supported by Scratch for .Net carries with it some risk of injury
    or even death if used carelessly. Low voltage sources can produce sufficient heat to start fires or cause burns. This software is aimed
    at educating children, but when used with external hardware devices, adult supervision and proper care to guard against injury or property
    damage is essential.
</p>

<h3>Disclaimer of Warranty or Fitness for any Purpose</h3>
<p>Pervasive Digital LLC. makes no warranty, either express or implied with respect to any product, and spefifically disclaims all other warranties, 
    including, without limitation, warranties for merchantability, non-infringement and fitness for any particular purpose.  Pervasive Digital LLC's
    sole obligation and liability for product defects shall be, at the discretion of Pervasive Digital LLC, to replace such defective product or
    refund to the buyer the amount paid by the buyer therefor. In no event shall Pervasive Digital LLC's liability exceed the buyer's purchase price.
    The foregoing remedy shall be subject to buyer's written notification of defect and return of the defective product within ninety (90) days of purchase.
    The foregoing remedy does not apply to products that have been subjected to misuse (including without limitation static discharge), neglect, accident
    or modification, or to products that have been soldered or altered during assembly, or are otherwise not capable of being tested, or if damage occurs
    as a result of the failure of buyer to follow spefific instructions. In no event shall Pervasive Digital LLC be liable to the buyer or to any third
    party for any indirect, incidental, special, consequential, punitive or exemplary damages (including without limitation lost profits, lost savings,
    or loss of business opportunity) arising out of or relating to any product or service provided or to be provided by Pervasive Engineering LLC
    or the use or inability to use the same, even if Pervasive Digital LLC has been advised of the possibility of such damages.
    </p>