@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Scratch4.net consists of this web site, a windows desktop application, and .Net Micro Framework firmware images that allow you to use
    .Net Micro Framework boards along with the <a href="http://scratch.mit.edu">MIT Scratch</a> programming environment.</p>
