@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    11410 NE 124th St #137<br />
    Kirkland, WA 98034<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@pervasive.digital">Support@pervasive.digital</a><br />
</address>