@{
    ViewBag.Title = "Scratch for .Net Forum";
}
<h2>@ViewBag.Title.</h2>

<p>
    A Scratch for .Net Forum is kindly hosted by our friends at GHI Electronics along with their other .Net Micro Framework forum categories.
    When you click the button below, you will be taken to the GHI forum site. Look for the "Education" forum. Other forum topics
    exist to help people who are writing their own firmware or using other GHI products, and you will find these useful
    as you advance in your use of .Net Micro Framework.
 </p>

<p>
    Note that GHI maintains a separate login system and you will need to create a login there in order to post to the forums.
    A login is not required to read the forum posts.
</p>

<a class="btn btn-default" href="https://www.ghielectronics.com/community/forum/">Go to GHI Forums &raquo;</a>

