@{
    ViewBag.Title = "Scratch for .Net Forum";
}
<h2>@ViewBag.Title.</h2>

<p>
    A Scratch for .Net Forum is kindly hosted by our friends at GHI Electronics along with their other .Net Micro Framework forum categories.
    When you click the button below, you will be taken to the GHI forum category for Education.
 </p>

<p>
    Note that GHI maintains a separate login system and you will need to create a login there in order to post to the forums.
    A login is not required to read the forum posts.
</p>

<a class="btn btn-default" href="https://www.ghielectronics.com/community/forum/board?id=37">Go to GHI Education Forum &raquo;</a>

