@{
    ViewBag.Title = "Scratch for .Net Forum";
}
<h2>@ViewBag.Title.</h2>
<h3>Under Construction</h3>

<p>
    The Scratch for .Net Forum is not quite ready for prime time yet.  If you're stuck, drop us a line at the address below and we'll do what we can to help. The forum will be open shortly.
</p>

<address>
    <strong>Support:</strong>   <a href="mailto:support@pervasive.digital">Support@pervasive.digital</a><br />
</address>