@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scratch for .Net</h1>
    <p class="lead">
        Scratch for .Net Micro Framework is free software that allows you to use the <a href="http://scratch.mit.edu">MIT Scratch</a> programming
        environment with .Net Micro Framework micro-controller boards and peripherals.
    </p>
    <p><a href="@Url.Action("Details")" , class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @*<div class="well">
        This web site and the accompanying software are under construction. Final versions of the software and site will be available during the week of 27-July-2015.
        This banner will be removed when production versions of the software are available.
    </div>*@
    <div class="col-md-4">
        <h2>Get Hardware</h2>
        <p>
            You'll need a micro controller board that runs the .Net Micro Framework. Click the 'Learn More' button
            for a list of vendors and compatible boards.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Hardware")">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Software</h2>
        <p>
            Install the Scratch offline editor and the Scratch4.Net Gateway program on your Windows system and you're
            all set. Click 'Download' for more information and links to these two programs.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Software")">Download &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Have Fun!</h2>
        <p>
            Have fun learning to program in Scratch. You can use your .Net Micro Framework boards as sensors and
            input devices and use them to control real-world output through displays and digital, analog and PWM outputs.
            Click below to access the Scratch4.Net documentation and sample programs.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Documentation")">Learn more &raquo;</a></p>
    </div>

    <hr />

    <div class="col-md-12">
        <p>
            Scratch for .Net Micro Framework is a standalone open-source software project created by Pervasive Digital LLC
            in support of education in science, math and computer programming, and while it shares the goals of the MIT Scratch
            project, this project is entirely separate and is not endorsed by or related to the MIT Scratch project in any way.
            Scratch for .Net is is offered at no cost - there are no license fees or subscriptions.
        </p>
    </div>

    <div class="col-md-12">
        <h4>Scratch for .Net was created with the generous support of:</h4>
    </div>

    <div class="col-md-4">
        <a href="http://www.ghielectronics.com" target="_blank">
            <img src="~/Content/Images/ghi_logo.png" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="http://www.pervasive.digital/" target="_blank">
            <img src="~/Content/Images/pdlogo.horiz.png" />
        </a>
    </div>
    <div class="col-md-4">
    </div>
</div>
